.post__content ul {
  @include clearlist;

  li {
    position: relative;
    padding: 0 0 0 29px;

    &:before {
      position: absolute;
      content: '';
      background: url(../images/tick_icon.png);
      background-size: 100% 100%;
      width: 18px;
      height: 18px;
      top: 1px;
      left: 0;
    }
  }
}