h1, h2, h3 {
  margin: 0;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}

@include respond-to('huge') {
  .container {
    max-width: 1323px;
  }
}

.navbar-toggler:not(:disabled):not(.disabled) {
  outline: none;
}

@include respond-to('extra-small') {
  .section-header h2 {
    color: $dark-color;
    font-family: $main-font;
    font-size: 38px;
    font-weight: 700;
    &.light {
      color: $light-color;
    }
  }
}
@include respond-to('huge') {
  .section-header h2 {
    font-size: 48px;
  }
}