button {
  @include respond-to('extra-small') {
    width: 100px;
    margin-top: 3px;
    text-align: center;
    outline: none;
    border: none;
    padding: 15px 12px;
    font-size: 14px;
    background-color: $light-btn-color;
    color: $btn-color;
    cursor: pointer;
    transition: .2s ease-in;
    &:hover, &:focus {
      transition: .2s ease-in;
      background-color: $btn-color-hover;
      outline: none;
    }
  }
  @include respond-to('large-min') {
    width: 120px;
    margin-top: 0;
    padding: 20px 17px;
    font-size: 18px;
  }
}