// Кнопки

.btn {
  display: inline-block;
  vertical-align: middle;
  background: none;
  outline: 0 none;
  border: 0 none;
  border-radius: 0;
  padding: 8px 25px;
  background-color: #000;
  text-transform: uppercase;
  color: #fff;
}

.more__btn {
  color: #000;
  border-radius: 4px;
  background-color: $link-color;
  font-family: $font-family;
  font-size: 16px;
  font-weight: 700;
  line-height: 23px;
  transition: .3s all;

  &:hover {
    color: #fff;
    transition: .3s all;
  }
}

.about__btn, .see__btn {
  position: relative;
  padding-bottom: 2px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;

  &:hover {
    &:after {
      transform: translateX(10px);
      transition: .5s all;
    }
  }

  &:before {
    content: '';
    position: absolute;
    display: inline-block;
    top: calc(100% - 3px);
    left: 0;
    right: 0;
    border-top: 1px solid #fed52f;
    opacity: .5;
  }

  &:after {
    display: inline-block;
    content: url(../images/right_arrow.png);
    position: absolute;
    right: -25px;
    bottom: 0;
    transition: .5s all;
  }
}