.page-footer {
  position: relative;
  padding: 30px 0;

  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100px;
    color: $dark-bg;
    font-family: $second-font;
    font-size: 13px;
    font-weight: 400;
    text-align: center;

    &--post {
      min-height: auto;
    }
  }

  .partners-sidebar {
    margin-bottom: 95px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $screen-lg) {
      flex-direction: column;
    }
  }

}
