@include respond-to('extra-small') {
  #sb_instagram.sbi_col_2 #sbi_images .sbi_item {
    width: 100%;
  }
}

@include respond-to('medium-small') {
  #sb_instagram.sbi_col_2 #sbi_images .sbi_item {
    width: 50%;
  }
}

@include respond-to('small') {
  #sb_instagram.sbi_col_2 #sbi_images .sbi_item {
    width: 50%;
  }
}

@include respond-to('large') {
  #sb_instagram.sbi_col_2 #sbi_images .sbi_item {
    padding: 15px !important;
  }
}